%h1 The following movies conatinin '' were found on TMDb

%table#movies
  %thead
    %tr
      %th{:class => @title_header}= link_to 'Movie Title', movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'
      %th Rating
      %th{:class => @date_header}= link_to 'Release Date', movies_path(:sort => 'release_date', :ratings => @selected_ratings), :id => 'release_date_header'
      %th Select
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        // ratings
        // release date
        // checkbox

= link_to 'Return to Movie List', movies_path